<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <%- include inc/materialize.ejs%>
    <style>
        #modal1{
            height: 500px;
        }
        *{
            outline: 0;
        }
       .y-card-yl .card-content{
           margin-bottom: 0;
           height: 160px;
       }
       .container .row .y-item-wrap{
           padding: 0;
           background-color: white;
           margin-bottom: 30px;
        }
        .index-tab{
            background: #fbfbfb;
            border-bottom: 1px solid #e8e8e8;
            height: 55px;
            line-height: 55px;
            color: #666;
            font-size: 18px;
            padding: 0px 10px;
            font-weight: 400;
            position: relative;
        }
        .index-tab > a {
            color: #666;
        }
        .y-item-wrap dl{
            display: block;
            position: relative;
            height: 85px;
            padding-top: 10px;
            overflow: hidden;
        }
        .y-item-wrap dl dt{
            float: left;
            width: 95px;
            height: 75px;
            text-align: center;
        }
        .y-item-wrap dl .title-dd{
            padding-right: 10px;
            padding-top: 5px;
        }
        .y-item-wrap dl dd{
            color: #666;
            overflow: hidden;
            line-height: 22px;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .y-item-wrap .index-tab .more {
            position: absolute;
            z-index: 1;
            right: 10px;
            top: 15px;
            height: 20px;
            line-height: 20px;
            text-align: right;
        }
        .y-item-wrap .index-tab .more a {
            color: #666;
            font-size: 14px;
        }

        /* 新闻 样式*/
        .content_list {
            clear: both;
        }
        .content_list li {
            overflow: hidden;
            line-height: 30px;
        }
        .dd_lm {
            color: #4a5265;
            width: 70px;
            float: left;
            font-size: 15px;
            _font_size: 14px;
            _font-family: "宋体";
        }
        .dd_bt {
            color: #333;
            width: 480px;
            float: left;
            text-align: left;
            font-size: 15px;
            _font_size: 14px;
            _font-family: "宋体";
        }
        .dd_bt a:visited {
            color: #919191;
            text-decoration: none;
        }
        .dd_bt a:link {
            color: #333;
            text-decoration: none;
        }
        .dd_time {
            color: #919191;
            float: right;
            width: 120px;
            font-size: 13px;
            _font-size: 12px;
            _font-family: "宋体";
        }

    </style>
</head>
<body style="background-color: #f2f5f9">
<%- include inc/header_nav.ejs%>
<div class="main" style="margin-top: 40px">
    <div class="container">
        <div class="row">
            <div class="col s12 m8" >
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="/imgs/fj_image1.jpg"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="/imgs/fj_image2.jpg"> <!-- random image -->
                            <div class="caption left-align">
                                <h3>Left Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="/imgs/fj_image3.jpg"> <!-- random image -->
                            <div class="caption right-align">
                                <h3>Right Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="/imgs/fj_image4.jpg"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col m4 hide-on-small-only">
                <div class="row">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 y-card-yl">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 y-item-wrap">
                <div class="index-tab">
                    <a href="javascript:void(0)"><%- $GET('NOTES')%></a>
                </div>

                <% if(result && result.notes !== undefined){%>
                    <% result.notes.forEach(function (ele, index) {%>
                <div class="col s4">
                    <dl>
                        <dt>
                            <a title=<%= ele.title%>" href="/notes/detail/<%= ele._id%>"><img alt="<%= ele.title%>" src="/imgs/notes.png" height="75" style="display: inline;"></a>
                        </dt>
                        <dd class="title-dd">
                            <a title="<%= ele.title%>" href="/notes/detail/<%= ele._id%>"><%= ele.title%></a></dd>
                        <dd>
                            <div class="stars"></span><span class="star">类别：<%= ele.classify%></span></div>
                        </dd>
                        <dd>时间：<%= ele.creationTime.toLocaleDateString()%></dd>
                    </dl>
                </div>
                    <%})%>

                <%}%>
            </div>
            <!--<div class="col m4 hide-on-small-only">-->
                <!--<div class="col s12 y-card-yl">-->
                    <!--<div class="card blue-grey darken-1">-->
                        <!--<div class="index-tab">-->
                            <!--<a href="javascript:void(0)">dssadsdsdasdas</a>-->
                        <!--</div>-->
                        <!--<div class="card-content white-text">-->
                            <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                                <!--I am convenient because I require little markup to use effectively.-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col s12">-->
                    <!--<div class="card blue-grey darken-1">-->
                        <!--<div class="index-tab">-->
                            <!--<a href="javascript:void(0)">dssadsdsdasdas</a>-->
                        <!--</div>-->
                        <!--<div class="card-content white-text">-->
                            <!--<span class="card-title">Card Title</span>-->
                            <!--<p>I am a very simple card. I am good at containing small bits of information.-->
                                <!--I am convenient because I require little markup to use effectively.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col s12 m8 y-item-wrap">
                <div class="index-tab">
                    <a href="javascript:void(0)"><%- $GET('NEWS')%></a>
                    <div class="more"><a href="/news/more"><%- $GET('MORE')%> >></a></div>
                </div>
                <% if(result && result.news !== undefined){%>
                <div class="col s12">
                    <ul class="content_list">
                        <% result.news.forEach(function (ele, index) {%>
                        <li>
                            <div class="dd_lm">[<%= ele.key%>]</div>
                            <div class="dd_bt"><a href="<%= ele.url%>"><%= ele.title%></a>
                            </div>
                            <div class="dd_time"><%= ele.info.split(' ')[0].split('：')[1] ? ele.info.split(' ')[0].split('：')[1] : ele.info.split(' ')[0]%></div>
                        </li>
                        <%})%>
                    </ul>
                </div>
                <%}%>

            </div>
            <div class="col m4 hide-on-small-only">
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="index-tab">
                            <a href="javascript:void(0)">dssadsdsdasdas</a>
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems,{indicators:true});
    });
</script>

</html>
